<div class="mantener-productos">
  <div class="popup-mantener">
    <div class="wrapper-total content-mantener-producto animate__animated animate__bounceInUp">
      <form class="form-body" action="/mantener-producto/add" method="POST">
        <div class="mantener-heading">
          <h1>Agregar Producto</h1>
        </div>
        <div class="wrapper-content">
          <div class="inputs">
            <input autocomplete="off" name="nombre_producto" class="form-control" placeholder="Nombre Producto"
              type="text" required>
            <input autocomplete="off" step="0.01" type="number" class="form-control" placeholder="Precio" name="precio"
              required>
            <input autocomplete="off" name="stock" class="form-control" placeholder="Stock" type="number" required>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="form-group mt-2 mr-1 btnCancelar">
            <a class="btn btn-danger close-popup-mantener-producto" href="/mantener-producto"
              onclick="popup_close_producto()">Cancelar</a>
          </div>
          <div class="form-group mt-2 btnRegistrar">
            <button class="btn btn-success" type="submit">Agregar Producto</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const searchbar = document.getElementById('search-input');
  searchbar.addEventListener('keyup', () => {
    const term = searchbar.value.toLowerCase();
    const table = document.getElementById('table');
    const rows = table.getElementsByTagName('tr');
    Array.from(rows).forEach((rows) => {
      const name = rows.children[1].textContent;
      if (name.toLowerCase().indexOf(term) != -1) {
        rows.style.display = 'table-row';
      } else {
        rows.style.display = 'none';
      }
    });
  })
</script>