<div class="mantener-productos">
  <div class="popup-mantener">
    <div class="wrapper-total content-mantener-producto animate__animated animate__bounceInUp">
      <form class="form-body" action="/mantener-entrada/add" method="POST">
        <div class="mantener-heading">
          <div class="mantener-heading--title">
            <h1>Agregar Entrada</h1>
            <i class="fad fa-soup"></i>
          </div>
        </div>
        <div class="wrapper-content">
          <div class="inputs">
            <input autocomplete="off" name="nombre_entrada" class="form-control" placeholder="Nombre Entrada"
              type="text" required>
            <input autocomplete="off" step="0.01" type="number" class="form-control" placeholder="Precio" name="precio"
              required>
            <input autocomplete="off" name="stock" class="form-control" placeholder="Stock" type="number" required>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="form-group mt-2 mr-1 btnCancelar">
            <a class="btn btn-danger close-popup-mantener-producto" href="/mantener-entrada"
              onclick="popup_close_producto()">Cancelar</a>
          </div>
          <div class="form-group mt-2 btnRegistrar">
            <button class="btn btn-success" type="submit">Agregar Entrada</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>