html{
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0px;
  color: white;
}
.main-container{
  display: flex;
  font-family: 'Roboto', sans-serif;
  background-color: $system-background;
}
.body-webpage{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
}
pre{
  display: none;
}
//Putting label tag at the left
.form-group{
  text-align: left;
}