<form class="form-body" action="/carrito" method="POST">
  {{>login-navbar}}
  <div class="login-wrapper" id="carrito-data">
    <div class="row w-100">
      <div class="col-lg-7 w-100 pr-0" id="carrito-comanda">
        <table class="table-active table-sm table-hover" style="table-layout: fixed; width: 100%;">
          <thead style="text-align: center;">
            <th style="width: 5%; text-align: center;"></th>
            <th style="width: 20%; text-align: center;"></th>
            <th style="width: 25%; text-align: center;">Producto</th>
            <th style="width: 20%; text-align: center;">Precio</th>
            <th style="width: 20%; text-align: center;">Cantidad</th>
            <th style="width: 10%; text-align: center;">Total</th>
          </thead>
          <tbody id="tbody-carrito" style="text-align: center;">
          </tbody>
        </table>
      </div>
      <div class="col-lg-4 border bg-white detail-payment-box">
        <h4>Total Carrito</h4>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <span>Subtotal</span>
          <input type="text" value="15.00" id="subtotal" name="subtotal" readonly>
        </div>
        <div class="d-flex justify-content-between">
          <span>Total</span>
          <input type="text" value="15.00" id="total" name="total" readonly>
        </div>
        <button id="btnSiguiente" type="button" class="btn btn-success btn-block mt-3">Siguiente</button>
      </div>
    </div>
  </div>
  <div class="login-wrapper flex-column" id="user-data">
    <h2 class="title-cliente-form">Datos de Cliente</h2>
    <div class="row w-auto p-5 login-inputs">
      <div class="row w-100">
        <div class="col-lg-4">
          <div class="input-data">
            <input type="text" name="nombre_cliente" autocomplete="off" required>
            <div class="underline"></div>
            <label>Nombres</label>
          </div>
          <div class="input-data">
            <input type="text" name="apellido_cliente" autocomplete="off" required>
            <div class="underline"></div>
            <label>Apellidos</label>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="input-data">
            <input type="number" name="dni" autocomplete="off" required>
            <div class="underline"></div>
            <label>DNI</label>
          </div>
          <div class="input-data">
            <input type="number" name="telf" autocomplete="off" required>
            <div class="underline"></div>
            <label>Telefono</label>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="input-data">
            <input type="email" name="email" id="email" autocomplete="off" value="" required>
            <div class="underline"></div>
            <label>Email</label>
          </div>
          <div class="input-data">
            <select name="distrito" class="custom-select" required>
              <option value="0" selected>Escoger Distrito</option>
              <option value="Carabayllo">Carabayllo</option>
              <option value="Comas">Comas</option>
              <option value="Independencia">Independencia</option>
              <option value="San Martin de Porres">San Martin de Porres</option>
              <option value="Los Olivos">Los Olivos</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-lg-12">
          <div class="input-data">
            <input type="text" name="direccion" autocomplete="off" required>
            <div class="underline"></div>
            <label>Direccion</label>
          </div>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-lg-12 d-flex justify-content-center">
          <button type="button" class="btn btn-secondary mr-2" id="btnVolver">Volver</button>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_51HiuUwCqIAsKxkBkMgohrRRN8duqUsx3AbHZR6tBNrXyY2tJQoglO8fNuG00f8o80iDHtwhkLbp5EGKty8LV7uRg00In32FIJq" 
          data-name="Manos Nortenas" 
          data-image="/img/logo.svg"
          data-currency="pen"
          data-locale="es"
          data-amount=""
          data-description="Gracias por elegir Manos Nortenas"
          data-email="."
          >
          </script>
          <button type="submit" class="btn btn-success" id="submit_data">Proceder a Pagar <i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
  const carrito_comanda = document.querySelector('#carrito-comanda table tbody');
  const contenedorBody = document.getElementById('tbody-carrito');
  const btnSiguiente = document.getElementById('btnSiguiente');
  const btnVolver = document.getElementById('btnVolver');
  let data_carrito = []
  let array = [];
  let subtotal = 0;
  let total = 0;
  cargarEventListeners();
  function cargarEventListeners() {
    btnSiguiente.addEventListener('click', cargarFormSiguiente);
    btnVolver.addEventListener('click',cargarFormVolver);
    carrito_comanda.addEventListener('click',eliminarFila);
    document.addEventListener('DOMContentLoaded', () =>{
      data_carrito = JSON.parse(localStorage.getItem('carrito_web')) || [];
      cargarDataCarrito();
    });
    document.addEventListener('DOMContentLoaded',()=>{
      subtotal = JSON.parse(localStorage.getItem('subtotal')) || [];
      document.getElementById('subtotal').value = 'S/.'+subtotal;
    })
    document.addEventListener('DOMContentLoaded',()=>{
      total = JSON.parse(localStorage.getItem('total')) || [];
      document.getElementById('total').value = `S/.`+total;
    })
  }
  function updateSubtotal(producto){
    let cartCost = localStorage.getItem('subtotal');
    let subtotal = 0;
    let total = 0;
    
    if (cartCost!=null){
      data_carrito.forEach((val,index)=>{
        subtotal = subtotal + val.precio*val.cantidad;
      })
      total = subtotal - (subtotal*0.18);
      console.log('subtotal: ',subtotal.toFixed(2));
      console.log('total: ',total.toFixed(2));
      document.getElementById('subtotal').value = `S/.`+subtotal.toFixed(2);
      document.getElementById('total').value = `S/.`+total.toFixed(2);
      localStorage.setItem('subtotal',subtotal.toFixed(2));
      localStorage.setItem('total',total.toFixed(2));
    }else{
      total = producto - (producto*0.18)
      localStorage.setItem('subtotal',producto);
      localStorage.setItem('total',total);
    }
  }
  function increaseValue(id) {
    for(let i=0;i<data_carrito.length;i++){
      if(data_carrito[i].id == id){
        if(data_carrito[i].cantidad>0){
          data_carrito[i].cantidad = parseInt(data_carrito[i].cantidad)+1;
          cargarDataCarrito();
        }
      }
    }
  }
  function decreaseValue(id) {
    for(let i=0;i<data_carrito.length;i++){
      if(data_carrito[i].id == id){
        if(data_carrito[i].cantidad>0){
          data_carrito[i].cantidad = parseInt(data_carrito[i].cantidad)-1;
          if (data_carrito[i].cantidad<1){
            data_carrito[i].cantidad=1
          }
          cargarDataCarrito();
        }
      }
    }
  }
  function cargarFormVolver() {
    document.querySelector('#carrito-data').style.display = 'flex';
    document.querySelector('#user-data').style.display = 'none';
  }
  function cargarFormSiguiente() {
    document.querySelector('#carrito-data').style.display = 'none';
    document.querySelector('#user-data').style.display = 'flex';
  }
  function eliminarFila(e) {
    //console.log(e.target)
    if (e.target.classList.contains('borrar_fila')) {
      const id = e.target.getAttribute('data-id');
      console.log('data before',data_carrito.length);
      data_carrito = data_carrito.filter(row => {
        return row.id != id
      }); //Prints everything excepts the one that is being clicked for deleting
      console.log('data after',data_carrito.length);
      cargarDataCarrito();
    }
  }
  function cargarDataCarrito() {
    limpiar_carrito_comanda_HTML();
    data_carrito.forEach((item, index) => {
      const {
        id,
        precio,
        nombre,
        image,
        cantidad,
        parte_pollo,
        descripcion
      } = item;
      var {total} = item;
      const row = document.createElement('tr');
      //let total = 0;
      total = (parseFloat(precio)*parseFloat(cantidad)).toFixed(2);
      row.setAttribute('class','row-item')
      row.innerHTML = `
        <td>
          <a href="javascript:void(0)">
            <i class="fas fa-trash-alt borrar_fila" data-id="${id}"></i>
          </a>
        </td>
        <td>
          <img src="/uploads/${image}" width="100px" height="80px">
        </td>
        <td><input name="nombre" type="text" value="${nombre}" readonly/></td>
        <td><input name="precio" type="text" value="${precio}" readonly/></td>
        <td>
          <div class="input-cantidad">
            <div class="value-button" id="decrease" onclick="decreaseValue(${id})"><i
                class="fa fa-minus"></i></div>
            <input name="cantidad" type="number" id="number" min="1" value="${cantidad}" readonly/>
            <div class="value-button" id="increase" onclick="increaseValue(${id})"><i
                class="fa fa-plus"></i></div>
          </div>
        </td>
        <td class="total-row">${total}</td>
      `;
      updateSubtotal(parseFloat(total));
      contenedorBody.appendChild(row);
    });
    sicronizarStorage();
  }
  function sicronizarStorage() {
    localStorage.setItem('carrito_web', JSON.stringify(data_carrito));
  }
  function limpiar_carrito_comanda_HTML() {
    while(contenedorBody.firstChild){
      contenedorBody.removeChild(contenedorBody.firstChild);
    }
  }
</script>