<!-- bannersito  -->
<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">Bienvenidos a</div>
      <div class="text-2">MANOS NORTEÑAS</div>
      <div class="text-3">prueba de nuestra sazon <span class="typing"></span></div>
      <a href="#">Ingresar</a>
    </div>
  </div>
</section>
<!-- Contactanos -->
<section class="contact" id="contact">
  <div class="max-width">
    <h2 class="title">Contáctanos</h2>
    <div class="contact-content">
      <div class="column left">
        <div class="text">Informacion de Contacto</div>
        <p>Hola!!! En esta parte te podemos ayudar con cualquier duda o reserva que tengas de nuestro restaurant</p>
        <div class="icons">
          <div class="row">
            <i class="fas fa-user"></i>
            <div class="info">
              <div class="head">Nombre del restaurant</div>
              <div class="sub-title">Manos Norteñas</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-map-marker-alt"></i>
            <div class="info">
              <div class="head">Direccion</div>
              <div class="sub-title"> Av. Villaverde 278 a la altura de la Crd.6 San German, Lima-Peru</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-envelope"></i>
            <div class="info">
              <div class="head">Email</div>
              <div class="sub-title">ContactanosURSS@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
      <div class="column right">
        <div class="text">Escríbenos</div>
        <form action="#">
          <div class="fields">
            <div class="field name">
              <input type="text" placeholder="Nombre *" required>
            </div>
            <div class="field email">
              <input type="email" placeholder="Email *" required>
            </div>
          </div>
          <div class="field">
            <input type="text" placeholder="Asunto *" required>
          </div>
          <div class="field textarea">
            <textarea cols="30" rows="10" placeholder="Mensaje *" required></textarea>
          </div>
          <div class="button">
            <button type="submit">ENVIAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>