  <section class="banner">
    <img src="img/banner.jpg" alt="" class="banner__img">
    <h1>La mejor y exquisita comida norteña esta aqui</h1>
  </section>
  <main class="main">
    <section class="group group--color">
      <div class="container">
        <h2 class="main__title">Bienvenido a su restaurante</h2>
        <p class="main__txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo vero tempore, velit
          blanditiis ab maxime aliquid suscipit modi quas veritatis deleniti omnis enim nam nostrum. Non ut voluptatibus
          illo eveniet.</p>
      </div>
    </section>
    <section class="group main__about_description">
      <div class="container container--flex">
        <div class="column column--50">
          <img src="img/cevichitoooo.jpg" alt="">
        </div>
        <div class="column column--50">
          <h3 class="column_title">Expertise In Industrial Solucion</h3>
          <p class="column__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat iusto vitae
            quod neque explicabo exercitationem minima deleniti autem pariatur veritatis at, repellat iste dolores,
            cupiditate, suscipit sunt voluptatum eos?</p>
          <a href="" class="btn btn--contact">Contact</a>
        </div>
      </div>
    </section>
    <section class="group today-special">
      <h2 class="group__title">Especial de hoy</h2>
      <div class="container container__flex">
        <div class="column column--50-25">
          <img src="img/cevichon.jpg" alt="" class="today-special__img">
          <div class="today-special__title">Especial del dia 1</div>
          <div class="today-special__price">$10</div>
        </div>
        <div class="column column--50-25">
          <img src="img/plato2.jpg" alt="" class="today-special__img">
          <div class="today-special__title">Especial del dia 1</div>
          <div class="today-special__price">$10</div>
        </div>
        <div class="column column--50-25">
          <img src="img/plato3.jpg" alt="" class="today-special__img">
          <div class="today-special__title">Especial del dia 1</div>
          <div class="today-special__price">$10</div>
        </div>
        <div class="column column--50-25">
          <img src="img/plato4.jpg" alt="" class="today-special__img">
          <div class="today-special__title">Especial del dia 1</div>
          <div class="today-special__price">$10</div>
        </div>
      </div>
    </section>
  </main>