  <section class="banner">
    <img src="img/banner.jpg" alt="" class="banner__img">
    <h1>La mejor y exquisita comida norteña esta aqui</h1>
  </section>
  <div class="container-welcome">
    <h2>Bienvenido a su restaurante</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo vero tempore, velit
      blanditiis ab maxime aliquid suscipit modi quas veritatis deleniti omnis enim nam nostrum. Non ut voluptatibus
      illo eveniet.</p>
  </div>

  <section class="group main__about_description">
    <div class="container container--flex">
      <div class="column column--50">
        <h3 class="column_title">Expertise In Industrial Solucion</h3>
        <p class="column__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat iusto vitae
          quod neque explicabo exercitationem minima deleniti autem pariatur veritatis at, repellat iste dolores,
          cupiditate, suscipit sunt voluptatum eos?</p>
        <a href="" class="btn btn--contact">Contact</a>
      </div>
    </div>
  </section>
  <div class="carta-title">
    <h1>Especial de Hoy</h1>
  </div>
  <section class="grid-group form-inline">
    <div class="card grid-elem">
      <img src="img/plato2.jpg" alt="" class="card-img-top today-special__img">
      <div class="card-body text-center">
        <h2 class="card-text">Especial del dia 1</h2>
        <span class="card-text">S/ 10.00</span>
      </div>
      <div class="card-body text-center">
        <button type="button" class="btn btn-warning">Enviar al Carrito
          <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </div>
    <div class="card grid-elem">
      <img src="img/plato2.jpg" alt="" class="card-img-top today-special__img">
      <div class="card-body text-center">
        <h2 class="card-text">Especial del dia 1</h2>
        <span class="card-text">S/ 10.00</span>
      </div>
      <div class="card-body text-center">
        <button type="button" class="btn btn-warning">Enviar al Carrito
          <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </div>
    <div class="card grid-elem">
      <img src="img/plato2.jpg" alt="" class="card-img-top today-special__img">
      <div class="card-body text-center">
        <h2 class="card-text">Especial del dia 1</h2>
        <span class="card-text">S/ 10.00</span>
      </div>
      <div class="card-body text-center">
        <button type="button" class="btn btn-warning">Enviar al Carrito
          <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </div>
    <div class="card grid-elem">
      <img src="img/plato2.jpg" alt="" class="card-img-top today-special__img">
      <div class="card-body text-center">
        <h2 class="card-text">Especial del dia 1</h2>
        <span class="card-text">S/ 10.00</span>
      </div>
      <div class="card-body text-center">
        <button type="button" class="btn btn-warning">Enviar al Carrito
          <i class="fas fa-cart-plus"></i>
        </button>
      </div>
    </div>
    </div>
  </section>