<!-- bannersito  -->
<section class="homenoo" id="homenoo">
  <div class="max-width">
    <div class="homenoo-content">
      <div class="text-1">Bienvenidos a</div>
      <div class="text-2">MANOS NORTEÑAS</div>
      <div class="text-3">ven y prueba de nuestra sazon <span class="typing"></span></div>
      <a href="#">Ingresar</a>
    </div>
  </div>
</section>

<!-- Servicios -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">Servicios</h2>
    <div class="about-content">
      <div class="column left">
        <img src="/img/servicios.jpg" alt="">
      </div>
      <div class="column right">
        <div class="text"> <span class="typing-5"></span></div>
        <p>Siempre se debe de disponer de un excelente criterio a la hora de preparar y desarrollar un tipo de servicio
          en un establecimiento, estos pueden variar según el acontecimiento que se vaya a celebrar, aunque en ocasiones
          se pone en práctica la combinación de varios tipos y de esa manera cubrir las necesidades del restaurante o el
          deseo del cliente.</p>

      </div>
    </div>
  </div>
</section>

<!-- Cultura -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title1">Cultura</h2>
    <div class="about-content">
      <div class="column left">
        <img src="/img/cultura.jpg" alt="">
      </div>
      <div class="column right">
        <div class="text"> <span class="typing-4"></span></div>

        <li>
          <strong>Servicio a la francesa:</strong> Los alimentos se presentan por la izquierda del comensal, siendo el
          propio invitado el que se sirve su plato, siempre con los cubiertos que se presentan en la fuente para tal
          fin, debiendo de coger el tenedor con la mano izquierda y la cuchara con la derecha.
        </li>
        <li>
          <strong>Servicio a la inglesa:</strong> El más fácil de todos. Es el utilizado por los restaurantes a la
          carta, la elaboración sale emplatada de la cocina y el objetivo del camarero es el transporte de dichos platos
          de la forma más adecuada hasta la mesa del cliente.
        </li>
        <li>
          <strong>Servicio Gueridon:</strong> Este servicio resulta bastante costoso, por el material, el personal y el
          mobiliario a utilizar, por lo que es muy poco usado. Lo podemos encontrar solamente en locales exclusivos tal
          y como decía al principio.
        </li>

      </div>
    </div>
  </div>
</section>


<!-- Beneficiencia -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title1">Beneficiencia</h2>
    <div class="about-content">
      <div class="column left">
        <img src="/img/beneficiencia.jpg" alt="">
      </div>
      <div class="column right">
        <div class="text"><span class="typing-3"></span></div>
        <p>Asi como vendemos para el gusto del publico nuestros deliciosos platillo criollos y a la carta, tambien
          hacemos actos beneficos, nuestro pais necesita ayuda y con parte de nuestras ganancias podemos ayudar a la
          gente que no tiene recursos en esta pandemia.</p>

      </div>
    </div>
  </div>
</section>


<!-- Talleres -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title1">Talleres</h2>
    <div class="about-content">
      <div class="column left">
        <img src="/img/programer.jpg" alt="">
      </div>
      <div class="column right">
        <div class="text"><span class="typing-3"></span></div>
        <p>Por ultimo, nosotros invertimos en la educacion y parte de la ganancia recaudada anual se van para talleres
          de robotica, electronica y programacion.</p>

      </div>
    </div>
  </div>
</section>