<div class="mantener-productos">
  <div class="popup-mantener">
    <div class="wrapper-total content-mantener-producto animate__animated animate__bounceInUp">
      <form class="form-body" action="/mantener-empleado/add" method="POST">
        <div class="mantener-heading">
          <h1>Agregar Empleado</h1>
        </div>
        <div class="wrapper-content">
          <div class="inputs">
            <input autocomplete="off" name="nombres" class="form-control" placeholder="Nombres" type="text" required>
            <input autocomplete="off" name="apellidos" class="form-control" placeholder="Apellidos" type="text"
              required>
            <input autocomplete="off" name="dni" class="form-control" placeholder="DNI" type="text" required>
            <input autocomplete="off" name="telefono" class="form-control" placeholder="Telefono" type="text" required>
            <input autocomplete="off" name="email" class="form-control" placeholder="E-mail" type="email" required>
            <select class="form-control" name="cod_rol" id="location_select" required>
              <option value="" selected>Seleccionar Rol</option>
              {{#each rol}}
              <option value="{{cod_rol}}">{{rol_nombre}}</option>
              {{/each}}
            </select>
            <div class="form-group">
              <label class="m-0">Descripcion</label>
              <textarea name="descripcion" class="form-control" rows="3" style="resize: none;"></textarea>
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="form-group mt-2 mr-1 btnCancelar">
            <a class="btn btn-danger close-popup-mantener-producto" href="/mantener-empleado"
              onclick="popup_close_producto()">Cancelar</a>
          </div>
          <div class="form-group mt-2 btnRegistrar">
            <button class="btn btn-success" type="submit">Agregar Empleado</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>