html {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0px;
  color: white; }

.main-container {
  display: flex;
  font-family: 'Roboto', sans-serif;
  background-color: #E4DCC7; }

.body-webpage {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%; }

pre {
  display: none; }

.form-group {
  text-align: left; }

.form-row div {
  text-align: left;
  font-weight: 600; }

.login-inputs {
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  width: 450px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
  .login-inputs .input-data {
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 25px; }
    .login-inputs .input-data input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 2px solid silver; }
    .login-inputs .input-data input:focus ~ label,
    .login-inputs .input-data input:valid ~ label {
      transform: translateY(-20px);
      font-size: 15px;
      font-weight: bold;
      color: grey; }
    .login-inputs .input-data label {
      position: absolute;
      bottom: 10px;
      left: 0;
      color: silver;
      pointer-events: none;
      transition: all 0.3s ease; }
    .login-inputs .input-data .underline {
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 100%; }
    .login-inputs .input-data .underline::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background-color: black;
      transform: scaleX(0);
      transition: transform 0.3s ease; }
    .login-inputs .input-data input:focus ~ .underline:before,
    .login-inputs .input-data input:valid ~ .underline:before {
      transform: scaleX(1); }

.wrapper-input {
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  width: 450px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
  .wrapper-input-data {
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 25px; }
    .wrapper-input-data input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 2px solid silver; }
    .wrapper-input-data input:focus ~ label,
    .wrapper-input-data input:valid ~ label {
      transform: translateY(-20px);
      font-size: 15px;
      font-weight: bold;
      color: grey; }
    .wrapper-input-data label {
      position: absolute;
      bottom: 10px;
      left: 0;
      color: silver;
      pointer-events: none;
      transition: all 0.3s ease; }
    .wrapper-input-data .underline {
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 100%; }
    .wrapper-input-data .underline::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background-color: black;
      transform: scaleX(0);
      transition: transform 0.3s ease; }
    .wrapper-input-data input:focus ~ .underline:before,
    .wrapper-input-data input:valid ~ .underline:before {
      transform: scaleX(1); }

.input-search-container {
  position: relative;
  width: 80%;
  min-width: 15%;
  border-radius: 50px;
  border: 2px solid #000;
  padding: 5px 10px;
  background-color: #fff;
  display: flex; }
  .input-search-container-elements {
    width: 100%;
    height: 100%;
    vertical-align: middle; }
    .input-search-container-elements #search-input {
      border: none;
      width: 100%;
      height: 100%;
      padding: 0px 10px;
      font-family: 'Nunito',sans-serif;
      outline: none;
      border-radius: 10px;
      text-align: left; }
    .input-search-container-elements tr td i {
      display: flex;
      align-self: center;
      font-size: 20px;
      color: black; }

td input {
  background: transparent;
  border: none;
  text-align: center;
  outline: none; }

#btnSolicitarDelivery {
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #cc942c;
  color: #fff;
  padding: 16px 32px; }

#btnSolicitarDelivery:focus, #btnSolicitarDelivery:hover {
  border: none;
  outline: none;
  background: #8f6f33e8; }

button > * {
  pointer-events: none; }

button {
  outline: none !important; }

#date {
  text-align: center;
  font-weight: bold; }

select {
  text-align-last: left; }

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0; }

.table-fixed {
  overflow-y: auto;
  margin-bottom: 20px;
  overflow-x: auto; }
  .table-fixed .table {
    width: 100%; }

.table-fixed-2 {
  max-height: 300px;
  width: 80%; }

.table-fixed-popup-buscar {
  max-height: 65%;
  width: 80%; }

.table-fixed thead th {
  position: sticky;
  top: -1px;
  z-index: 1;
  background-color: #303030; }

.table-fixed tbody td {
  z-index: 0; }

.table-fixed tbody {
  margin-top: 20px; }

.table-fixed::-webkit-scrollbar {
  width: 5px; }

.table-fixed::-webkit-scrollbar-track {
  background-color: transparent; }

.table-fixed::-webkit-scrollbar-thumb {
  background-color: rgba(34, 31, 31, 0.849); }

td img {
  max-width: 60px;
  max-height: 40px; }

/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
     * Header and footer styles
     */
  /*
     * Body styles
     */ }
  table.dataTable thead th,
  table.dataTable tfoot th {
    font-weight: bold; }
  table.dataTable thead th,
  table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111111; }
    table.dataTable thead th:active,
    table.dataTable thead td:active {
      outline: none; }
  table.dataTable tfoot th,
  table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #111111; }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right; }
  table.dataTable thead .sorting {
    background-image: url("../images/sort_both.png"); }
  table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc.png"); }
  table.dataTable thead .sorting_desc {
    background-image: url("../images/sort_desc.png"); }
  table.dataTable thead .sorting_asc_disabled {
    background-image: url("../images/sort_asc_disabled.png"); }
  table.dataTable thead .sorting_desc_disabled {
    background-image: url("../images/sort_desc_disabled.png"); }
  table.dataTable tbody tr {
    background-color: #d3ccb8; }
    table.dataTable tbody tr.selected {
      background-color: #b0bed9; }
  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 8px 10px; }
  table.dataTable.row-border tbody th, table.dataTable.row-border tbody td,
  table.dataTable.display tbody th,
  table.dataTable.display tbody td {
    border-top: 1px solid #dddddd; }
  table.dataTable.row-border tbody tr:first-child th,
  table.dataTable.row-border tbody tr:first-child td,
  table.dataTable.display tbody tr:first-child th,
  table.dataTable.display tbody tr:first-child td {
    border-top: none; }
  table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
  table.dataTable.cell-border tbody tr th:first-child,
  table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #dddddd; }
  table.dataTable.cell-border tbody tr:first-child th,
  table.dataTable.cell-border tbody tr:first-child td {
    border-top: none; }
  table.dataTable.stripe tbody tr.odd,
  table.dataTable.display tbody tr.odd {
    background-color: #cec7b4; }
    table.dataTable.stripe tbody tr.odd.selected,
    table.dataTable.display tbody tr.odd.selected {
      background-color: #acbad4; }
  table.dataTable.hover tbody tr:hover,
  table.dataTable.display tbody tr:hover {
    background-color: #cbc5b1; }
    table.dataTable.hover tbody tr:hover.selected,
    table.dataTable.display tbody tr:hover.selected {
      background-color: #aab7d1; }
  table.dataTable.order-column tbody tr > .sorting_1,
  table.dataTable.order-column tbody tr > .sorting_2,
  table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
  table.dataTable.display tbody tr > .sorting_2,
  table.dataTable.display tbody tr > .sorting_3 {
    background-color: #cfc8b4; }
  table.dataTable.order-column tbody tr.selected > .sorting_1,
  table.dataTable.order-column tbody tr.selected > .sorting_2,
  table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
  table.dataTable.display tbody tr.selected > .sorting_2,
  table.dataTable.display tbody tr.selected > .sorting_3 {
    background-color: #acbad5; }
  table.dataTable.display tbody tr.odd > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #c8c1ae; }
  table.dataTable.display tbody tr.odd > .sorting_2,
  table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #c9c2af; }
  table.dataTable.display tbody tr.odd > .sorting_3,
  table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: #cbc4b1; }
  table.dataTable.display tbody tr.odd.selected > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    background-color: #a6b4cd; }
  table.dataTable.display tbody tr.odd.selected > .sorting_2,
  table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    background-color: #a8b5cf; }
  table.dataTable.display tbody tr.odd.selected > .sorting_3,
  table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    background-color: #a9b7d1; }
  table.dataTable.display tbody tr.even > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #cfc8b4; }
  table.dataTable.display tbody tr.even > .sorting_2,
  table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #d0cab6; }
  table.dataTable.display tbody tr.even > .sorting_3,
  table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #d2cbb7; }
  table.dataTable.display tbody tr.even.selected > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: #acbad5; }
  table.dataTable.display tbody tr.even.selected > .sorting_2,
  table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    background-color: #aebcd6; }
  table.dataTable.display tbody tr.even.selected > .sorting_3,
  table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    background-color: #afbdd8; }
  table.dataTable.display tbody tr:hover > .sorting_1,
  table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: #c2bba9; }
  table.dataTable.display tbody tr:hover > .sorting_2,
  table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
    background-color: #c3bdaa; }
  table.dataTable.display tbody tr:hover > .sorting_3,
  table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
    background-color: #c6bfac; }
  table.dataTable.display tbody tr:hover.selected > .sorting_1,
  table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
    background-color: #a2aec7; }
  table.dataTable.display tbody tr:hover.selected > .sorting_2,
  table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
    background-color: #a3b0c9; }
  table.dataTable.display tbody tr:hover.selected > .sorting_3,
  table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
    background-color: #a5b2cb; }
  table.dataTable.no-footer {
    border-bottom: 1px solid #111111; }
  table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap; }
  table.dataTable.compact thead th,
  table.dataTable.compact thead td {
    padding: 4px 17px; }
  table.dataTable.compact tfoot th,
  table.dataTable.compact tfoot td {
    padding: 4px; }
  table.dataTable.compact tbody th,
  table.dataTable.compact tbody td {
    padding: 4px; }
  table.dataTable th.dt-left,
  table.dataTable td.dt-left {
    text-align: left; }
  table.dataTable th.dt-center,
  table.dataTable td.dt-center,
  table.dataTable td.dataTables_empty {
    text-align: center; }
  table.dataTable th.dt-right,
  table.dataTable td.dt-right {
    text-align: right; }
  table.dataTable th.dt-justify,
  table.dataTable td.dt-justify {
    text-align: justify; }
  table.dataTable th.dt-nowrap,
  table.dataTable td.dt-nowrap {
    white-space: nowrap; }
  table.dataTable thead th.dt-head-left,
  table.dataTable thead td.dt-head-left,
  table.dataTable tfoot th.dt-head-left,
  table.dataTable tfoot td.dt-head-left {
    text-align: left; }
  table.dataTable thead th.dt-head-center,
  table.dataTable thead td.dt-head-center,
  table.dataTable tfoot th.dt-head-center,
  table.dataTable tfoot td.dt-head-center {
    text-align: center; }
  table.dataTable thead th.dt-head-right,
  table.dataTable thead td.dt-head-right,
  table.dataTable tfoot th.dt-head-right,
  table.dataTable tfoot td.dt-head-right {
    text-align: right; }
  table.dataTable thead th.dt-head-justify,
  table.dataTable thead td.dt-head-justify,
  table.dataTable tfoot th.dt-head-justify,
  table.dataTable tfoot td.dt-head-justify {
    text-align: justify; }
  table.dataTable thead th.dt-head-nowrap,
  table.dataTable thead td.dt-head-nowrap,
  table.dataTable tfoot th.dt-head-nowrap,
  table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap; }
  table.dataTable tbody th.dt-body-left,
  table.dataTable tbody td.dt-body-left {
    text-align: left; }
  table.dataTable tbody th.dt-body-center,
  table.dataTable tbody td.dt-body-center {
    text-align: center; }
  table.dataTable tbody th.dt-body-right,
  table.dataTable tbody td.dt-body-right {
    text-align: right; }
  table.dataTable tbody th.dt-body-justify,
  table.dataTable tbody td.dt-body-justify {
    text-align: justify; }
  table.dataTable tbody th.dt-body-nowrap,
  table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap; }

table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box; }

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1; }
  .dataTables_wrapper .dataTables_length {
    float: left; }
    .dataTables_wrapper .dataTables_length select {
      border: 1px solid #aaa;
      border-radius: 3px;
      padding: 5px;
      background-color: transparent;
      padding: 4px; }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right; }
    .dataTables_wrapper .dataTables_filter input {
      border: 1px solid #aaa;
      border-radius: 3px;
      padding: 5px;
      background-color: transparent;
      margin-left: 3px; }
  .dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em; }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em; }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.5em 1em;
      margin-left: 2px;
      text-align: center;
      text-decoration: none !important;
      cursor: pointer;
      *cursor: hand;
      color: #333333 !important;
      border: 1px solid transparent;
      border-radius: 2px; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #333333 !important;
        border: 1px solid #979797;
        background-color: white;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
        /* W3C */ }
      .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        cursor: default;
        color: #666 !important;
        border: 1px solid transparent;
        background: transparent;
        box-shadow: none; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: 1px solid #111111;
        background-color: #585858;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, #585858 0%, #111111 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #585858 0%, #111111 100%);
        /* W3C */ }
      .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        outline: none;
        background-color: #2b2b2b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
        /* W3C */
        box-shadow: inset 0 0 3px #111; }
    .dataTables_wrapper .dataTables_paginate .ellipsis {
      padding: 0 1em; }
  .dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(211, 204, 184, 0)), color-stop(25%, rgba(211, 204, 184, 0.9)), color-stop(75%, rgba(211, 204, 184, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(211, 204, 184, 0) 0%, rgba(211, 204, 184, 0.9) 25%, rgba(211, 204, 184, 0.9) 75%, rgba(211, 204, 184, 0) 100%);
    background: -moz-linear-gradient(left, rgba(211, 204, 184, 0) 0%, rgba(211, 204, 184, 0.9) 25%, rgba(211, 204, 184, 0.9) 75%, rgba(211, 204, 184, 0) 100%);
    background: -ms-linear-gradient(left, rgba(211, 204, 184, 0) 0%, rgba(211, 204, 184, 0.9) 25%, rgba(211, 204, 184, 0.9) 75%, rgba(211, 204, 184, 0) 100%);
    background: -o-linear-gradient(left, rgba(211, 204, 184, 0) 0%, rgba(211, 204, 184, 0.9) 25%, rgba(211, 204, 184, 0.9) 75%, rgba(211, 204, 184, 0) 100%);
    background: linear-gradient(to right, rgba(211, 204, 184, 0) 0%, rgba(211, 204, 184, 0.9) 25%, rgba(211, 204, 184, 0.9) 75%, rgba(211, 204, 184, 0) 100%); }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    color: #333333; }
  .dataTables_wrapper .dataTables_scroll {
    clear: both; }
    .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
      *margin-top: -1px;
      -webkit-overflow-scrolling: touch; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
        vertical-align: middle; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
        height: 0;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important; }
  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111111; }
  .dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
  .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
    border-bottom: none; }
  .dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em; } }

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em; } }

.profile-header {
  color: black;
  width: 80vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .profile-header h4 {
    color: grey; }
  .profile-header img {
    border-radius: 360px; }

.header-nav-bar {
  background-color: #ffc400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh; }
  .header-nav-bar nav ul, .header-nav-bar nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center; }
    .header-nav-bar nav ul a, .header-nav-bar nav a {
      display: block;
      position: relative;
      margin: 0px 15px;
      text-decoration: none;
      color: black;
      font-size: 20px;
      transition: 250ms ease; }
    .header-nav-bar nav ul a:hover, .header-nav-bar nav a:hover {
      padding-bottom: 32px;
      color: transparent; }
    .header-nav-bar nav ul a:hover::after, .header-nav-bar nav a:hover::after {
      color: #000;
      font-weight: bold;
      transform: translateY(-50px);
      opacity: 1; }
    .header-nav-bar nav ul a::after, .header-nav-bar nav a::after {
      content: attr(data-link-text);
      position: absolute;
      left: 0;
      bottom: -105%;
      width: 108%;
      height: 100%;
      transition: 150ms ease;
      opacity: 0; }

#btn-opensidebar {
  position: absolute;
  z-index: 2;
  font-size: 40px;
  margin: 20px 40px;
  color: #000;
  text-decoration: none; }

#btn-closesidebar {
  position: absolute;
  z-index: 2;
  left: 0;
  margin: 20px 30px;
  font-size: 40px;
  color: #000;
  text-decoration: none; }

.dropdown-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  width: 100%; }
  .dropdown-container ul li a i {
    margin-right: 8px; }
  .dropdown-container ul li .child-dropdown {
    display: block;
    padding-left: 70px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 35px;
    text-decoration: none; }
    .dropdown-container ul li .child-dropdown * {
      cursor: pointer;
      margin: 0; }

.fa-caret-down {
  float: right;
  padding-right: 5px; }

.sidebar {
  background: #94914E;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 25%; }
  .sidebar .logo {
    display: flex;
    align-self: center; }
  .sidebar nav ul {
    padding: 0px; }
  .sidebar ul {
    list-style: none; }

nav ul li .nav-op {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  color: black;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 45px;
  text-decoration: none;
  border-bottom: 1px solid #000; }
  nav ul li .nav-op .icon-content {
    display: flex;
    align-items: center; }
    nav ul li .nav-op .icon-content #arrow {
      margin-left: 60px; }
  nav ul li .nav-op i {
    margin-right: 5px; }
  nav ul li .nav-op * {
    margin: 0px; }

nav ul li:hover .nav-op {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  transition: all 0.3s ease;
  padding-left: 50px; }
  nav ul li:hover .nav-op * {
    cursor: pointer; }

.btnSalir {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background-color: #C82333;
  color: white;
  width: 100%; }

.btnSalir:hover {
  background-color: #a81a28;
  transition: all 0.5s ease; }

.active-sidebar {
  background-color: rgba(0, 0, 0, 0.8);
  border-right: 6px solid #E4DCC7;
  font-weight: 500;
  transition: all 1s ease;
  color: white; }
  .active-sidebar * {
    color: white;
    margin: 0px; }

.active-dropdown {
  background-color: rgba(0, 0, 0, 0.8);
  border-right: 12px solid #E4DCC7;
  font-weight: 500;
  transition: all 0.5s ease;
  color: white; }
  .active-dropdown * {
    color: white;
    margin: 0px; }

.active-child-dropdown {
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }

.dropdown-container ul li .child-dropdown:hover {
  transition: all 0.5s ease;
  color: #ffffff; }

.login-wrapper {
  background-color: #EBEBEB;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 76vh; }
  .login-wrapper .login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .login-wrapper .title {
    position: relative;
    color: #EBEBEB;
    background-color: rgba(0, 0, 0, 0.781);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.6);
    border-radius: 6px 6px 0px 0px;
    width: 450px;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(0, 0, 0, 0.404); }

.text-olvido {
  text-align: center;
  margin-top: 10px; }

.text-registro {
  color: grey;
  text-align: center;
  margin-top: 20px; }

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh; }
  .image-section img {
    position: absolute;
    width: 50vw;
    height: 76vh; }
  .image-section .parrafos {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .image-section .parrafos p {
      text-align: center;
      margin: 0; }

.profile-header {
  color: black;
  width: 80vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .profile-header h4 {
    color: grey; }
  .profile-header img {
    border-radius: 360px; }

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E4DCC7; }
  .home .content {
    display: flex;
    flex-direction: row;
    color: black;
    grid-column: 2;
    justify-content: center;
    align-items: center; }

.c-main {
  width: 50vh;
  height: 30vh;
  background-color: #cdcdcd;
  border-radius: 15px 15px 15px 15px;
  border: none;
  -webkit-box-shadow: 2px 7px 26px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 7px 26px 0px rgba(0, 0, 0, 0.75); }
  .c-main .card-title {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 35px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 4px solid black;
    padding: 25px; }
  .c-main .c-body {
    height: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: inherit; }
    .c-main .c-body #quantity {
      font-size: 40px;
      background-color: transparent;
      text-align: center;
      outline: none;
      width: 30%;
      border: none; }
    .c-main .c-body .description {
      font-size: 25px; }

#user_dni {
  font-size: 25px;
  background-color: transparent;
  text-align: center;
  outline: none;
  width: 50%;
  border: none; }

.wrapper-comanda {
  height: 100vh;
  width: 100%;
  background-color: #E4DCC7;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .wrapper-comanda .registrar-comanda-form {
    display: flex;
    flex-direction: row;
    width: 80vw; }
    .wrapper-comanda .registrar-comanda-form * {
      width: 100%; }
    .wrapper-comanda .registrar-comanda-form .registrar-comanda-inputs {
      display: flex;
      flex-direction: column; }
      .wrapper-comanda .registrar-comanda-form .registrar-comanda-inputs .form-row .car-button {
        background-color: grey; }

#carrito-comanda {
  max-height: 220px;
  min-height: 220px;
  min-width: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: -20px;
  display: flex;
  align-items: flex-start; }

#carrito-comanda::-webkit-scrollbar {
  width: 5px; }

#carrito-comanda::-webkit-scrollbar-track {
  background-color: transparent; }

#carrito-comanda::-webkit-scrollbar-thumb {
  background-color: rgba(34, 31, 31, 0.849); }

#carrito-comanda thead th {
  position: sticky;
  top: -1px;
  z-index: 1;
  background-color: #303030; }

#carrito-comanda tbody td {
  z-index: 0; }

#carrito-comanda tbody {
  margin-top: 20px; }

.wrapper-total {
  height: 100vh;
  width: 100%;
  background-color: #E4DCC7;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .wrapper-total .dato_user {
    text-align: center;
    font-weight: bold; }
  .wrapper-total form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .wrapper-total .wrapper-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%; }
    .wrapper-total .wrapper-content .wrapper-input1 {
      width: 100%; }
      .wrapper-total .wrapper-content .wrapper-input1 .input-wrapper {
        display: flex; }
        .wrapper-total .wrapper-content .wrapper-input1 .input-wrapper * {
          margin: 10px 4px 10px 0px; }
    .wrapper-total .wrapper-content .wrapper-input2 {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .wrapper-total .wrapper-content .wrapper-input2 * {
        margin: 10px 0px; }
  .wrapper-total .button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 80%;
    justify-content: center; }
    .wrapper-total .button-wrapper * {
      width: 100%; }

.mantener-productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E4DCC7;
  height: 100vh;
  text-align: center; }
  .mantener-productos .popup-mantener {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3); }
    .mantener-productos .popup-mantener .content-mantener-producto {
      height: auto;
      padding: 20px 0px;
      width: 40vw;
      border-radius: 15px;
      background-color: #E4DCC7; }
      .mantener-productos .popup-mantener .content-mantener-producto .wrapper-content .inputs {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .mantener-productos .popup-mantener .content-mantener-producto .wrapper-content .inputs * {
          margin: 5px 0px; }

.mantener-heading {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  width: 80%; }
  .mantener-heading--title {
    display: flex;
    align-items: center; }
  .mantener-heading * {
    margin: 0px 5px 5px 0px;
    font-weight: bold;
    color: black;
    font-size: 30px; }

.buscar-popup {
  width: 35%;
  height: 45%;
  background-color: #E4DCC7;
  border-radius: 8px; }
  .buscar-popup .form-body {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .buscar-popup .form-body .mantener-heading-buscar {
      color: black;
      font-weight: bold;
      font-size: 30px;
      margin: 5px; }
    .buscar-popup .form-body #input-popup-buscar {
      width: 80%; }
  .buscar-popup #close-popup {
    position: absolute;
    color: black;
    font-size: 25px;
    left: 95.5%;
    bottom: 90%; }

.popup-add-producto {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; }
  .popup-add-producto .content-mantener-producto {
    height: 40vh;
    width: 40vw;
    border-radius: 15px;
    background-color: #E4DCC7; }
    .popup-add-producto .content-mantener-producto .wrapper-content .inputs {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .popup-add-producto .content-mantener-producto .wrapper-content .inputs * {
        margin: 5px 0px; }
    .popup-add-producto .content-mantener-producto .inputs-1 {
      margin: 0px 5px 0px 0px; }

.wrapper-total .mantener-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .wrapper-total .mantener-header * {
    align-self: flex-end; }

.wrapper-total .title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  position: relative; }
  .wrapper-total .title-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; }
    .wrapper-total .title-label i {
      align-self: center; }
  .wrapper-total .title a button {
    margin: 0px 10px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 360px; }

a {
  text-decoration: none; }

pre {
  display: none; }

.header-section {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  position: relative; }
  .header-section img {
    width: 100%;
    height: 80%;
    background-color: black; }

/*------------------Estilo base---------*/
.main img {
  display: block;
  width: 100%;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.container {
  width: 100%;
  margin: 0; }

.container--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.column {
  width: 100%; }

/*---- estilos header----*/
.main-header {
  width: 100%; }

.logo {
  font-size: 1.8em;
  color: #800080;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-weight: 100; }

.main-header__contactInfo__phone {
  background: #de423a;
  color: white;
  margin: 0 auto;
  padding: 10px; }

.main-header__contactInfo__address {
  padding: 10px;
  margin: 0; }

.main-header [class*="icon--"]:before {
  position: relative;
  top: 2px;
  right: 5px; }

/*---- estilos menu----*/
.navbar-brand {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 1.8em;
  font-weight: 100;
  padding: 10px; }

.icon-menu {
  display: block;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em; }

.social-icon {
  display: flex;
  justify-content: space-between; }

.social-icon * {
  margin: 0 18px; }

.social-icon a {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 360px; }

.social-icon a:hover {
  background-color: orange;
  transition: all 0.5s ease;
  border-radius: 360px; }

.social-icon * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black; }

.social-icon__link {
  text-decoration: none; }

.menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  /*ANIMACION DE ---*/
  height: 0;
  overflow: hidden;
  transition: height .3s linear; }

.menu__link {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none; }

.menu__link:hover {
  background: #DE423A; }

.menu__link--select {
  background: #DE423A; }

.mostrar {
  height: 196px; }

/*-----------------Estilos del Banner --------------*/
.banner {
  margin-top: -55px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; }
  .banner img {
    height: 100vh; }

.banner h1 {
  color: white;
  position: absolute;
  z-index: 1500;
  top: 50%;
  transform: translateX(-50%) translateZ(-50%);
  font-size: 1.5em;
  font-weight: bold; }

.banner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  top: 0; }

.banner__img {
  width: 100%;
  object-fit: cover; }

/*------------estilos principales----------*/
.group--color .container {
  background: #DE423A;
  color: white;
  padding: 10px;
  text-align: center; }

.main__title {
  margin: 15px 0;
  font-size: 1.8em;
  font-family: 'Pacifico', cursive;
  font-weight: 100; }

.main__about__description .column:nth-child(2) {
  padding: 10px; }

.group--title {
  font-family: 'Pacifico',cursive;
  text-align: center;
  font-weight: 100;
  font-size: 1.8em;
  margin: 30px; }

.today-special .column {
  margin-bottom: 30px;
  text-align: center; }

.today-special__img {
  margin: auto;
  /* max-width: 350px; */ }

.today-special__title {
  text-align: center;
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 20px; }

.today-special__price {
  font-size: 1.5em;
  text-align: center;
  color: #DE423A;
  font-weight: bold; }

/*-------------estilos footer----------------*/
.main-footer {
  background: #343a40 !important;
  color: white;
  font-size: 14px;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-footer p {
    margin: 0px; }

.copy {
  text-align: center;
  margin: auto;
  margin-top: 15px; }

.main-footer [class*="icon-"] {
  color: white;
  text-decoration: none; }

.main-footer[class*="icon-"]:before {
  position: relative;
  top: 3px;
  right: 5px; }

/*---------------Estilos responsive--------*/
@media screen and (min-width: 480px) {
  .logo {
    color: white; }
  .main-header__contactInfo {
    text-align: right; }
  .banner {
    margin-top: -145px;
    z-index: -1000; }
  .banner__img {
    height: 600px; }
  .banner__content {
    font-size: 2em; }
  .main {
    padding-bottom: 15px; }
  .main-header__contactInfo__phone {
    background: none; }
  .main-header__contactInfo__address {
    color: white; }
  .main-nav {
    background: rgba(0, 0, 0, 0.85); }
  .main-footer .container--flex {
    align-items: flex-start; }
  .main__about__description .column:nth-child(2) {
    padding-left: 20px;
    font-size: .9em; }
  .main__about__description .btn {
    margin: 0; }
  .today-special .column {
    border: 5px solid #ddd;
    padding: 5px; }
  .today-special__img {
    height: 200px;
    object-fit: cover; } }

@media screen and (min-width: 1024px) {
  .container {
    width: 1000px; }
  .logo {
    font-size: 2em;
    padding: 0; }
  .main-header__contactInfo__address,
  .main-header__contactInfo__phone {
    padding-right: 0;
    font-size: 1.15em; }
  .main-nav {
    padding: 0; }
  .banner__content {
    font-size: 2.5em; }
  .icon-menu {
    display: none; }
  .menu {
    display: flex;
    position: static;
    height: auto;
    width: auto; }
  .menu__link {
    padding: 20px; }
  .group--color .container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px; }
  .main__title {
    font-size: 2.3em; }
  .main__about__description .column--50:nth-child(2) .column__txt {
    line-height: 45px; }
  .today-special__title {
    font-size: 1.4em; }
  .today-special__price {
    font-size: 1.8em; }
  .main-footer {
    padding-top: 30px;
    padding-bottom: 30px; } }

@media screen and (min-width: 1024px) and (min-width: 1600px) {
  .container {
    width: 1400px; }
  .main__about__description .column:nth-child(1) img {
    width: 100%;
    height: 350px;
    object-fit: cover; }
  .today-special__img {
    height: 300px; } }

.container-welcome {
  width: 100%;
  background-color: orange;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.carta-title {
  width: 100%;
  background-color: orange;
  color: black; }

.grid-group {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto auto;
  padding: 10px;
  margin: 30px; }
  .grid-group .grid-elem {
    color: black;
    background-color: pink;
    width: 100%;
    height: 100%; }
    .grid-group .grid-elem img {
      min-width: 50%;
      min-height: 50%; }

@media screen and (max-width: 720px) {
  .grid-group {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto; } }

@media screen and (max-width: 480px) {
  .grid-group {
    display: flex;
    flex-direction: column; } }
