html {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0px;
  color: white; }

.main-container {
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 20% 80%;
  grid-template-rows: 35vh 65vh; }

.login-inputs {
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  width: 450px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
  .login-inputs .input-data {
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 25px; }
    .login-inputs .input-data input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 2px solid silver; }
    .login-inputs .input-data input:focus ~ label,
    .login-inputs .input-data input:valid ~ label {
      transform: translateY(-20px);
      font-size: 15px;
      font-weight: bold;
      color: grey; }
    .login-inputs .input-data label {
      position: absolute;
      bottom: 10px;
      left: 0;
      color: silver;
      pointer-events: none;
      transition: all 0.3s ease; }
    .login-inputs .input-data .underline {
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 100%; }
    .login-inputs .input-data .underline::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background-color: black;
      transform: scaleX(0);
      transition: transform 0.3s ease; }
    .login-inputs .input-data input:focus ~ .underline:before,
    .login-inputs .input-data input:valid ~ .underline:before {
      transform: scaleX(1); }

.wrapper-input {
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  width: 450px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
  .wrapper-input-data {
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 25px; }
    .wrapper-input-data input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 2px solid silver; }
    .wrapper-input-data input:focus ~ label,
    .wrapper-input-data input:valid ~ label {
      transform: translateY(-20px);
      font-size: 15px;
      font-weight: bold;
      color: grey; }
    .wrapper-input-data label {
      position: absolute;
      bottom: 10px;
      left: 0;
      color: silver;
      pointer-events: none;
      transition: all 0.3s ease; }
    .wrapper-input-data .underline {
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 100%; }
    .wrapper-input-data .underline::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background-color: black;
      transform: scaleX(0);
      transition: transform 0.3s ease; }
    .wrapper-input-data input:focus ~ .underline:before,
    .wrapper-input-data input:valid ~ .underline:before {
      transform: scaleX(1); }

#btnSolicitarDelivery {
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #cc942c;
  color: #fff;
  padding: 16px 32px; }

#btnSolicitarDelivery:focus, #btnSolicitarDelivery:hover {
  border: none;
  outline: none;
  background: #8f6f33e8; }

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0; }

.table-fixed {
  overflow-y: auto;
  margin-bottom: 20px;
  overflow-x: auto; }
  .table-fixed .table {
    width: 100%; }

.table-fixed-2 {
  max-height: 300px;
  width: 80%; }

.table-fixed thead th {
  position: sticky;
  top: -1px;
  z-index: 1;
  background-color: #303030; }

.table-fixed tbody td {
  z-index: 0; }

.table-fixed tbody {
  margin-top: 20px; }

.table-fixed::-webkit-scrollbar {
  width: 5px; }

.table-fixed::-webkit-scrollbar-track {
  background-color: transparent; }

.table-fixed::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.762); }

.profile-header {
  background-color: #cdcdcd;
  color: black;
  width: 80vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .profile-header h4 {
    color: grey; }
  .profile-header img {
    border-radius: 360px; }

.header-nav-bar {
  background-color: #ffc400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh; }
  .header-nav-bar nav ul, .header-nav-bar nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center; }
    .header-nav-bar nav ul a, .header-nav-bar nav a {
      display: block;
      position: relative;
      margin: 0px 15px;
      text-decoration: none;
      color: black;
      font-size: 20px;
      transition: 250ms ease; }
    .header-nav-bar nav ul a:hover, .header-nav-bar nav a:hover {
      padding-bottom: 32px;
      color: transparent; }
    .header-nav-bar nav ul a:hover::after, .header-nav-bar nav a:hover::after {
      color: #000;
      font-weight: bold;
      transform: translateY(-50px);
      opacity: 1; }
    .header-nav-bar nav ul a::after, .header-nav-bar nav a::after {
      content: attr(data-link-text);
      position: absolute;
      left: 0;
      bottom: -105%;
      width: 108%;
      height: 100%;
      transition: 150ms ease;
      opacity: 0; }

.sidebar {
  background: #fdc819;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; }
  .sidebar nav ul {
    padding: 0px; }
  .sidebar ul {
    list-style: none; }
  .sidebar .logo {
    margin: 15px;
    display: flex;
    align-self: center; }

nav ul li a .nav-op {
  width: 100%;
  text-align: center;
  color: black; }
  nav ul li a .nav-op * {
    margin: 10px 2.5px;
    font-size: 22px; }

nav ul li a .nav-op:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-right: 12px solid #000;
  transition: all 0.5s ease; }

.btnSalir {
  text-align: center;
  padding: 10px;
  font-size: 22px;
  background-color: #dc3545;
  color: white;
  width: 100%; }

.btnSalir:hover {
  background-color: #C82333;
  transition: all 0.5s ease; }

.active-sidebar {
  background-color: rgba(0, 0, 0, 0.7);
  border-right: 12px solid #000;
  transition: all 0.5s ease; }
  .active-sidebar * {
    color: white; }

footer {
  background-color: #ffc400;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; }

.login-wrapper {
  background-color: #EBEBEB;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 75vh; }
  .login-wrapper .login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .login-wrapper .title {
    position: relative;
    color: #EBEBEB;
    background-color: rgba(0, 0, 0, 0.781);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.6);
    border-radius: 6px 6px 0px 0px;
    width: 450px;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(0, 0, 0, 0.404); }

.text-olvido {
  text-align: center;
  margin-top: 10px; }

.text-registro {
  color: grey;
  text-align: center;
  margin-top: 20px; }

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; }
  .image-section img {
    position: absolute;
    width: 50vw;
    height: 75vh; }
  .image-section .parrafos {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .image-section .parrafos p {
      text-align: center;
      margin: 0; }

.profile-header {
  background-color: #cdcdcd;
  color: black;
  width: 80vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .profile-header h4 {
    color: grey; }
  .profile-header img {
    border-radius: 360px; }

.content {
  display: grid;
  display: flex;
  flex-direction: row;
  color: black;
  grid-column: 2;
  justify-content: center;
  align-items: center; }

.wrapper-total {
  height: 100vh;
  width: 80vw;
  background-color: #cdcdcd;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .wrapper-total .dato_user, .wrapper-total .fecha_actual {
    text-align: center;
    font-weight: bold; }
  .wrapper-total form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .wrapper-total .wrapper-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%; }
    .wrapper-total .wrapper-content .wrapper-input1 {
      width: 100%; }
      .wrapper-total .wrapper-content .wrapper-input1 .input-wrapper {
        display: flex; }
        .wrapper-total .wrapper-content .wrapper-input1 .input-wrapper * {
          margin: 10px 4px 10px 0px; }
    .wrapper-total .wrapper-content .wrapper-input2 {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .wrapper-total .wrapper-content .wrapper-input2 * {
        margin: 10px 0px; }
  .wrapper-total .btnRegistrar {
    width: 80%; }
