//todo: Global Buttons
$radius_button: 8px;
$fontsize_button: 16px;
$padding_horButton: 16px;
$padding_verButton: 32px;

//todo: Website Buttons
$website_backgroundButton: #cc942c;
$website_colorButton: #fff;

//*Hover Buttons 
$website_hoverButton: #8f6f33e8;

//*Navbar color
$navbar-backgroundColor: #ffc400;

//*System Background
$width-sidebar: 25%;
$width-body-system: 100%;
$sidebar-background: #94914E;
$sidebar-fontsize: 18px;
$system-background: #E4DCC7;