//todo: Global Buttons
$radius_button: 8px;
$fontsize_button: 16px;
$padding_horButton: 16px;
$padding_verButton: 32px;

//todo: Website Buttons
$website_backgroundButton: #cc942c;
$website_colorButton: #fff;

//*Hover Buttons 
$website_hoverButton: #8f6f33e8;

//*Navbar color
$navbar-backgroundColor: #FFC63D;