.table-fixed{
  // max-height: 200px;
  overflow-y: auto;
  margin-bottom: 20px;
  overflow-x: auto;
  & .table{
    width: 100%;
  }
}
.table-fixed-2{
  max-height: 300px;
  width: 80%;
}
.table-fixed-popup-buscar{
  max-height: 65%;
  width: 80%;
}
.table-fixed thead th{
  // position: sticky;
  top: -1px;
  z-index: 1;
  background-color: #303030;
}
.table-fixed tbody td{
  z-index: 0;
}
.table-fixed tbody{
  margin-top: 20px;
}
.table-fixed::-webkit-scrollbar{
  width: 5px;
}
.table-fixed::-webkit-scrollbar-track{
  background-color: transparent;
}
.table-fixed::-webkit-scrollbar-thumb{
background-color: rgba(245, 245, 245, 0.762);
}