<footer class="main-footer">
  <div class="container container--flex">
    <div class="column column--33"></div>
    <h2 class="column__title">¿Porque visitarnos?</h2>
    <p class="column__txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, perspiciatis
      accusantium assumenda recusandae quisquam id adipisci hic rem quos dolores quis culpa non doloremque inventore
      reprehenderit accusamus neque nam voluptas?</p>
    <div class="column column--33"></div>
    <h2 class="column__title">Contactanos</h2>
    <p class="column__txt">Av. villaverde</p>
    <p class="column__txt">9666666</p>
    <p class="column__txt">borjita@gmail.ex</p>
    <div class="column column--33"></div>
    <h2 class="column__title">Siguenos en nuetras redes</h2>
    <p class="column__txt"><a href="" class="icon-facebook"></a></p>
    <p class="column__txt"><a href="" class="icon-twitter"></a></p>
    <p class="column__txt"><a href="" class="icon-youtube"></a></p>
  </div>
  <p class="copy">© 2020 Manos Norteñas | Todos los derechos reservados</p>
</footer>