<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatum sit voluptas nihil, natus quia et nulla porro quos ex reiciendis culpa est hic amet enim quae minus odit rerum, ipsa dolor mollitia voluptatibus rem perferendis? Ipsa veniam laudantium odit.</p>
  <p>Solicita tu Delivery!</p>
  <button id="btnSolicitarDelivery">Solicitar Delivery</button>
</div>