<nav class="main-nav">
    <div class="container--flex">
      <!-- <span class="icon-menu" id="btnmenu"></span> -->
      <ul class="menu" id="menu">
        <li class="menu__item"><a href="/" class="menu__link menu__link--select">Inicio</a></li>
        <li class="menu__item"><a href="nosotros.html" class="menu__link">Nosotros</a></li>
        <li class="menu__item"><a href="carta.html" class="menu__link">Carta</a></li>
        <li class="menu__item"><a href="delivery.html" class="menu__link">Delivery</a></li>
        <li class="menu__item"><a href="contacto.html" class="menu__link">Contactanos</a></li>
        <li class="menu__item"><a href="/signin" class="menu__link">Sign In</a></li>
      </ul>
      <div class="social-icon">
        <a href="" class="social-icon__link"><i class="fab fa-facebook-f"></i></span></a>
        <a href="" class="social-icon__link"><i class="fab fa-instagram"></i></span></a>
        <a href="" class="social-icon__link"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  </nav>