<div class="sidebar animate__animated">
    <a class="logo" href="/home">
      <img src="/img/logo.svg" alt="Logo Empresa" width="120" height="120">
    </a>
    <a href="javascript:void(0)" id="btn-closesidebar" onclick="closeSidebar()"><i class="fas fa-bars"></i></a>
  <nav class="nav-main">
    <ul class="nav-nav">
      <li> <a href="#" class="dropdown-btn nav-op">
          <i class="fas fa-house-user"></i>
          <i class="fa fa-caret-down"></i>
          <label>Mantenimiento</label>
        </a>
        <div class="dropdown-container">
          <ul>
            <li>
              <a href="/mantener-producto">
                <i class="fas fa-hamburger"></i>Mantener producto
              </a>
            </li>
            <li>
              <a href="/mantener-entrada">
                <i class="fas fa-house-user"></i>Mantener entrada
              </a>
            </li>
            <li>
              <a href="/mantener-segundo">
                <i class="fas fa-house-user"></i>Mantener segundo
              </a>
            </li>
            <li>
              <a href="/mantener-empleado">
                <i class="fas fa-house-user"></i>Mantener Empleado
              </a>
            </li>
            <li>
              <a href="/mantener-usuario">
                <i class="fas fa-house-user"></i>Mantener Usuario
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li><a href="/home" class="nav-op">
          <i class="fas fa-house-user"></i>
          <label>Perfil</label>
        </a>
      </li>
      <li><a href="/generar-cuenta" class="nav-op">
          <i class="fas fa-cash-register"></i>
          <label>Generar Cuenta</label>
        </a>
      </li>
      <li><a href="#" class="nav-op">
          <i class="fas fa-chart-line"></i>
          <label>Consultar Venta</label>
        </a>
      </li>
      <li><a href="#" class="nav-op">
          <i class="fas fa-user-friends"></i>
          <label>Consultar Cliente</label>
        </a>
      </li>
      <li><a href="#" class="nav-op">
          <i class="fas fa-truck"></i>
          <label>Consultar Pedidos</label>
        </a>
      </li>
      <li><a href="#" class="nav-op">
          <i class="fas fa-cog"></i>
          <label>Configuracion</label>
        </a>
      </li>
    </ul>
  </nav>

  <a href="/logout">
    <div class="btnSalir">
      <i class="fas fa-sign-out-alt"></i>
      <label>Salir</label>
    </div>
  </a>
</div>

<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");

  for (let i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active-dropdown");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "flex") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "flex";
      }
    });
  }
</script>