<div class="sidebar animate__animated">
    <a class="logo" href="/home">
      <img src="/img/logo.svg" alt="Logo Empresa" width="120" height="120">
    </a>
    <a href="javascript:void(0)" id="btn-closesidebar" onclick="closeSidebar()"><i class="fas fa-bars"></i></a>
  <nav class="nav-main">
    <ul class="nav-nav">
      <li>
        <a href="/home" class="nav-op">
          <i class="fas fa-house-user"></i>
          <label>Perfil</label>
        </a>
      </li>
      <li> <a href="javascript:void(0)" class="dropdown-btn nav-op">
          <div class="icon-content">
            <i class="fas fa-hammer"></i>
            <label>Mantenimiento</label>
            <i class="fa fa-caret-down" id="arrow"></i>
          </div>
        </a>
        <div class="dropdown-container">
          <ul>
            <li>
              <a href="/mantener-producto" class="child-dropdown">
                <i class="fas fa-hamburger"></i>
                <label>Mantener producto</label>
              </a>
            </li>
            <li>
              <a href="/mantener-entrada" class="child-dropdown">
                <i class="fas fa-house-user"></i>
                <label>Mantener entrada</label>
              </a>
            </li>
            <li>
              <a href="/mantener-segundo" class="child-dropdown">
                <i class="fas fa-house-user"></i>
                <label>Mantener segundo</label>
              </a>
            </li>
            <li>
              <a href="/mantener-empleado" class="child-dropdown">
                <i class="fas fa-house-user"></i>
                <label>Mantener Empleado</label>
              </a>
            </li>
            <li>
              <a href="/mantener-usuario" class="child-dropdown">
                <i class="fas fa-house-user"></i>
                <label>Mantener Usuario</label>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/registrar-comanda" class="nav-op">
          <i class="fas fa-scroll"></i>
          <label>Registrar Comanda</label>
        </a>
      </li>
      <li>
        <a href="/generar-cuenta" class="nav-op">
          <i class="fas fa-cash-register"></i>
          <label>Generar Cuenta</label>
        </a>
      </li>
      <li>
        <a href="/consultar-venta" class="nav-op">
          <i class="fas fa-chart-line"></i>
          <label>Consultar Venta</label>
        </a>
      </li>
      <li>
        <a href="/consultar-cliente" class="nav-op">
          <i class="fas fa-user-friends"></i>
          <label>Consultar Cliente</label>
        </a>
      </li>
      <li>
        <a href="/consultar-pedido" class="nav-op">
          <i class="fas fa-truck"></i>
          <label>Consultar Pedidos</label>
        </a>
      </li>
      <li>
        <a href="/configuracion" class="nav-op">
          <i class="fas fa-cog"></i>
          <label>Configuracion</label>
        </a>
      </li>
    </ul>
  </nav>

  <a href="/logout">
    <div class="btnSalir">
      <i class="fas fa-sign-out-alt"></i>
      <label>Salir</label>
    </div>
  </a>
</div>

<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");

  for (let i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active-dropdown");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "flex") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "flex";
      }
    });
  }
</script>