<div class="sidebar">
  <a class="logo" href="/home">
    <img src="/img/logo.svg" alt="Logo Empresa" width="150" height="150">
  </a>
  <nav class="nav-main">
    <ul class="nav-nav">
      <li><a href="/home">
        <div class="nav-op">
          <i class="fas fa-house-user"></i>
          <label>Perfil</label>
        </div>
        </a>
      </li>
      <li><a href="/generar-cuenta">
        <div class="nav-op">
          <i class="fas fa-cash-register"></i>
          <label>Generar Cuenta</label>
        </div>
        </a>
      </li>
      <li><a href="#">
        <div class="nav-op">
          <i class="fas fa-chart-line"></i>
          <label>Consultar Venta</label>
        </div>
        </a>
      </li>
      <li><a href="#">
        <div class="nav-op">
          <i class="fas fa-user-friends"></i>
          <label>Consultar Cliente</label>
        </div>
        </a>
      </li>
      <li><a href="#">
        <div class="nav-op">
          <i class="fas fa-file-alt"></i>
          <label>Generar Reporte Cliente</label>
        </div>
        </a>
      </li>
      <li><a href="#">
        <div class="nav-op">
          <i class="fas fa-file-signature"></i>
          <label>Generar Reporte Venta</label>
        </div>
        </a>
      </li>
      <li><a href="#">
        <div class="nav-op">
          <i class="fas fa-hamburger"></i>
          <label>Mantener Productos</label>
        </div>
        </a>
      </li>
      <li><a href="#">
        <div class="nav-op">
          <i class="fas fa-users-cog"></i>
          <label>Mantener Usuarios</label>
        </div>
        </a>
      </li>
      <li><a href="#">
        <div class="nav-op">
          <i class="fas fa-truck"></i>
          <label>Consultar Pedidos</label>
        </div>
        </a>
      </li>
    </ul>
  </nav>

  <a href="/logout">
    <div class="btnSalir">
      <i class="fas fa-sign-out-alt"></i>
      <label>Salir</label>
    </div>
  </a>
</div>