<div class="mantener-productos">
  <div class="popup-mantener">
      <div class="buscar-popup wrapper-total content-mantener-producto animate__animated animate__bounceInUp">
        <div class="form-body">
          <h1 class="mantener-heading-buscar">Mesa Num.{{venta.num_mesa}}</h1>
          <a href="/registrar-comanda" id="close-popup" onclick="popup_close_producto()"><i class="fas fa-times"></i></a>
          <div class="form-group col-md-6 m-0">
            <div class="form-group mb-2 table-responsive" id="carrito-comanda">                              
              <table id="lista-carrito-comanda" class="table table-active table-sm table-hover" style="table-layout: fixed;">
                  <thead class="thead-dark">
                      <tr>
                        <th style="width: 50%; text-align: center;">Nombre</th>
                        <th style="width: 30%; text-align: center;">Imagen</th>
                        <th style="width: 20%; text-align: center;">Cantidad</th>
                      </tr>
                  </thead>
                  <tbody style="text-align: center;">
                    {{#each comanda}}
                      <tr>
                        <td>{{nombre}}</td>
                        <td><img src="../../public/uploads/{{pathname}}"></td>
                        <td>{{cantidad}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>