<div class="home animate__animated animate__zoomInDown">
  <form action="/home" method="POST">
  <header class="profile-header c-card w-100 d-flex justify-content-center">
    <div>
      <img src="/img/doge.png" alt="Foto Perfil" width="100" height="100">
      <h2>{{user.nombres}} {{user.apellidos}}</h2>
      <input name="dni" id="user_dni" type="text" value="{{user.dni}}">
      <h4>{{user.rol_nombre}}</h4>
    </div>
  </header>
  <div class="content mt-5">
    <div class="c-card w-100 d-flex justify-content-center">
      <div class="mb-4 p-2 d-flex justify-content-center">
        <div class="card c-main">
          <h4 class="c-title card-title">
            <i class="fab fa-sellsy"></i>
          </h4>
          <div class="c-body">
            <span class="description">Numero de Ventas este mes:</span>
            <input id="quantity" name="quantity" value="20" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>