{{>login-navbar}}
<div class="login-wrapper">
  <div class="login-section">
    <div class="title">
      Recuperar Contrasena
    </div>
    <form action="/signin" method="POST">
      <div class="login-inputs">
        <div class="input-data">
          <input type="email" name="email" autocomplete="off" required>
          <div class="underline"></div>
          <label>Email</label>
        </div>
        <div class="text-olvido">
          {{!-- <a href="/recuperar">Enviar Codigo</a> --}}
          <button type="button" class="btn btn-success btn-block">Enviar Codigo</button>
        </div>
      </div>
    </form>
  </div>
</div>