<div class="login-wrapper">
    <img src="img/party.jpg" alt="">    
  
  <div class="login-section">
    <form action="/signin" method="POST">
      <div class="login-inputs">
        <input type="text">
        <input type="password">
      </div>
    </form>
  </div>
</div>