{{>login-navbar}}
<div class="login-wrapper">
  <div class="login-section">
    <div class="title">
      Intranet
    </div>
    <form action="/signin" method="POST">
      <div class="login-inputs">
        <div class="input-data">
          <input type="text" name="usuario" required>
          <div class="underline"></div>
          <label>Usuario</label>
        </div>
        <div class="input-data">
          <input type="password" name="password" required>
          <div class="underline"></div>
          <label>Contraseña</label>
        </div>
        <button class="btn btn-success btn-block">Ingresar</button>
        <div class="text-olvido">
          <a href="/reset-password">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="text-registro">
          ¿No estas registrado? <a href="/registro">¡Registrate!</a>
        </div>
      </div>
    </form>
  </div>
</div>