<div class="login-wrapper">
    <img src="img/party.jpg" alt="">    
  
  <div class="login-section">
    <form action="/signin" method="POST"></form>
      <div class="login-inputs">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label>Usuario</label>
        </div>
        <div class="input-data">
          <input type="password" required>
          <div class="underline"></div>
          <label>Contrasena</label>
        </div>
      </div>
    </form>
  </div>
</div>